<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Recordings</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="controls">
        <button id="startButton" onclick="location.href='/'">Start Viewing</button>
        <!-- <button id="captureButton">Capture Image</button> -->
        <button id="record-list" onclick="location.href='/recordings'">Recording</button>
    </div>
    <div id="recordings-container">
        <p>Loading recordings...</p>
    </div>
    <script src="js/record.js"></script>
</body>
</html>